/* Color Palette:
Light Shades: #EFEAE6;
Light Accent: #A99284;
Main Brand Color: #895449;
Dark Accent: #8C8C8B;
Dark Shades: #513434;
*/
* {
box-sizing: border-box;
}

.name {
  color: #4a5338; 
  font-family: 'Inter', 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  font-size: 35px;
}

body {
  color: #4a5338; 
  font-family: 'Inter', 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  font-size: 18px; 
  background-color: #A99284; 
}
