/* Color Palette:
Light Shades: #EFEAE6;
Light Accent: #A99284;
Main Brand Color: #895449;
Dark Accent: #8C8C8B;
Dark Shades: #513434;
*/
* {
  box-sizing: border-box;
}

.name {
  color: #EFEAE6; 
  font-family: 'Inter', 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  font-size: 35px;
  display: inline-block;
}

.profile-pic {
  display: inline-block;
  border-radius: 50%; 
  width: 80px; 
}

body {
  color: #EFEAE6; 
  font-family: 'Inter', 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  font-size: 18px; 
  background-color: #895449; 
}
